
img{
    border-radius: 80%;
    /* margin: 0% 30% 0 30%; */
    float: left;
}

body{
    background-color: rgba(155, 165, 138, 0.6);
}

.backs{
    border-color: antiquewhite;
}

.all-headings{
    border-radius: 50%;
   color: rgb(136, 32, 32);
   border: 5px solid rgb(154, 154, 196);
   /* display: inline; */
   align-items: center;
   margin: 0% 30% 0 30%;
   padding: 1%;
}
.inlinetarget{
    float: left;
}

div{
    margin: 5%;
}
.lefted{
    float: left;
}
.righted{
    float: right;
}